@model Business.Models.Salary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Salary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oklad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oklad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountStake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountStake)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bonus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Premia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Premia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearNavigation)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
