@model IEnumerable<Business.Models.Ingridients>

@{
    ViewData["Title"] = "Index";
}

<h1>Ingridients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quntatity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RawProductNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quntatity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RawProductNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
